{%load static%}
<!doctype html>
<html lang="en" class="semi-dark">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" href="{%static 'assets/images/favicon-32x32.png'%}" type="image/png" />
	<link href="{% static 'assets/plugins/simplebar/css/simplebar.css'%}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css'%}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/highcharts/css/highcharts.css'%}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css'%}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/metismenu/css/metisMenu.min.css'%}" rel="stylesheet" />
	<link href="{% static 'assets/css/pace.min.css'%}" rel="stylesheet" />
	<script src="{% static 'assets/js/pace.min.js'%}"></script>
	<link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet">
	<link href="{% static 'assets/css/app.css'%}" rel="stylesheet">
	<link href="{% static 'assets/css/icons.css'%}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'assets/css/dark-theme.css'%}" />
	<link rel="stylesheet" href="{% static 'assets/css/semi-dark.css'%}" />
	<link rel="stylesheet" href="{% static 'assets/css/header-colors.css'%}" />
	<title>Template</title>
</head>

<body>
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div>
					<img src="{% static 'assets/images/logo-icon.png'%}" class="logo-icon" alt="logo icon">
				</div>
				<div>
					<h4 class="logo-text"><a href="{% url 'dashboard'%}">O'quv markaz</a></h4>
				</div>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">

				<li>
					<a href="{% url 'news'%}">
						<div class="parent-icon"><i class="bx bx-user-circle"></i>
						</div>
						<div class="menu-title">Student News</div>
					</a>
				</li>
				<li>
					<a href="{% url 'finished'%}">
						<div class="parent-icon"><i class="bx bx-user"></i>
						</div>
						<div class="menu-title">Student Finished</div>
					</a>
				</li>
				<li>
					<a href="{% url 'deleted'%}">
						<div class="parent-icon"><i class="bx bx-trash-alt"></i>
						</div>
						<div class="menu-title">Student Deleted</div>
					</a>
				</li>
				<li>
					<a href="{% url 'bot'%}">
						<div class="parent-icon"><i class="bx bx-vector"></i>
						</div>
						<div class="menu-title">Bot</div>
					</a>
				</li>
				<li>
					<a href="{% url 'bot_detail'%}">
						<div class="parent-icon"><i class="bx bx-ghost"></i>
						</div>
						<div class="menu-title">Bot Detail</div>
					</a>
				</li>
				<li>
					<a href="{% url 'science'%}">
						<div class="parent-icon"><i class="bx bx-ghost"></i>
						</div>
						<div class="menu-title">Science</div>
					</a>
				</li>
			</ul>
			<!--end navigation-->
		</div>
		<!--end sidebar wrapper -->
		<!--start header -->

		<!--end header -->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<div class="card">
					<div class="card-body">
						<div class="p-4 border rounded">
							<form class="row" action="{% url 'add_bot_detail' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
								<div class="col-md-3">
									<input type="text" class="form-control" name="text" placeholder="text">
								</div>
								<div class="col-md-3">
									<input type="text" class="form-control" name="lat" placeholder="lat">
								</div>
								<div class="col-md-3">
									<input type="text" class="form-control" name="lng" placeholder="lng">
								</div>
								<div class="col-3">

									<button class="btn btn-primary" type="submit">Save</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="card radius-10 mb-0">
							<div class="card-body">
                               <div class="table-responsive mt-3">
								   <table class="table align-middle mb-0">
									   <thead class="table-light">
										   <tr>
											   <th>ID</th>
											   <th>Lat</th>
											   <th>Lng</th>
											   <th>Text</th>
											   <th>Delete</th>
										   </tr>
									   </thead>
									   <tbody>
									   {% for i in bot_detail%}
										   <tr>
											   <td>#{{i.id}}</td>
											   <td>{{i.lat}}</td>
											   <td>{{i.lng}}</td>
											   <td>{{i.text}}</td>
											   <td><b><a href="{% url 'delete_bot_detail' i.id %}">Delete</a></b></td>
										   </tr>
										{%endfor%}
									   </tbody>
								   </table>
							   </div>

							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
		<!--end page wrapper -->
		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<footer class="page-footer">
			<p class="mb-0">Copyright © 2023. All right reserved. ADS -Abduxoliq Solijonov</p>
		</footer>
	</div>
	<!--end wrapper-->
	<!--start switcher-->
	<div class="switcher-wrapper">
		<div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
		</div>
		<div class="switcher-body">
			<div class="d-flex align-items-center">
				<h5 class="mb-0 text-uppercase">Theme Customizer</h5>
				<button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
			</div>
			<hr/>
			<h6 class="mb-0">Theme Styles</h6>
			<hr/>
			<div class="d-flex align-items-center justify-content-between">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode" checked>
					<label class="form-check-label" for="lightmode">Light</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="darkmode">
					<label class="form-check-label" for="darkmode">Dark</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="semidark">
					<label class="form-check-label" for="semidark">Semi Dark</label>
				</div>
			</div>
			<hr/>
			<div class="form-check">
				<input class="form-check-input" type="radio" id="minimaltheme" name="flexRadioDefault">
				<label class="form-check-label" for="minimaltheme">Minimal Theme</label>
			</div>
			<hr/>
			<h6 class="mb-0">Header Colors</h6>
			<hr/>
			<div class="header-colors-indigators">
				<div class="row row-cols-auto g-3">
					<div class="col">
						<div class="indigator headercolor1" id="headercolor1"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor2" id="headercolor2"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor3" id="headercolor3"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor4" id="headercolor4"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor5" id="headercolor5"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor6" id="headercolor6"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor7" id="headercolor7"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor8" id="headercolor8"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end switcher-->
	<!-- Bootstrap JS -->
	<script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
	<!--plugins-->
	<script src="{% static 'assets/js/jquery.min.js'%}"></script>
	<script src="{% static 'assets/plugins/simplebar/js/simplebar.min.js'%}"></script>
	<script src="{% static 'assets/plugins/metismenu/js/metisMenu.min.js'%}"></script>
	<script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js'%}"></script>
	<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js'%}"></script>
	<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js'%}"></script>
	<script src="{% static 'assets/plugins/highcharts/js/highcharts.js'%}"></script>
	<script src="{% static 'assets/plugins/highcharts/js/exporting.js'%}"></script>
	<script src="{% static 'assets/plugins/highcharts/js/variable-pie.js'%}"></script>
	<script src="{% static 'assets/plugins/highcharts/js/export-data.js'%}"></script>
	<script src="{% static 'assets/plugins/highcharts/js/accessibility.js'%}"></script>
	<script src="{% static 'assets/plugins/apexcharts-bundle/js/apexcharts.min.js'%}"></script>
	<script src="{% static 'assets/js/index.js'%}"></script>
	<!--app JS-->
	<script src="{% static 'assets/js/app.js'%}"></script>
	<script>
		new PerfectScrollbar('.customers-list');
		new PerfectScrollbar('.store-metrics');
		new PerfectScrollbar('.product-list');
	</script>
</body>

</html>